/* Custom CSS colors and fonts */


/* Main body font size, font, color / default: 16px, Arial, #5e5e5e */


/*body {
	font-size: 16px;
	font-family: Arial, sans-serif;
	color: #5e5e5e;
}*/

.header .header-content {
	padding: 0;
}

#main-menu {
	border-radius: 0 0 3px 3px;
}

.composs-article-list.lets-do-6 .item-content, .header-content-logo {
	text-align: center;
}

.header-top ul ul.sub-menu:not(.ot-mega-menu) li>a, .header-top ul ul.sub-menu>li>a, #main-menu ul ul.sub-menu:not(.ot-mega-menu) li>a, #main-menu ul ul.sub-menu>li>a {
	padding-top: 5px;
	padding-bottom: 5px;
}

.main-slider .owl-nav .owl-next, .main-slider .owl-nav .owl-prev, .composs-photo-gallery-list .owl-controls .owl-nav .owl-next, .ot-w-gallery-list .owl-controls .owl-nav .owl-next, .composs-photo-gallery-list .owl-controls .owl-nav .owl-prev, .ot-w-gallery-list .owl-controls .owl-nav .owl-prev, .widget .search-form>input:hover, #main-menu, .composs-panel-pager a.composs-pager-button.active:hover, .composs-comments .comment-list .comment-text .user-nick .user-label, .composs-panel-buttons a, .composs-panel-buttons a.active, .composs-panel-buttons a:hover, .footer-button:hover, button, input[type=submit], .widget .tagcloud a:hover, .main-slider-owl.owl-carousel .owl-controls .owl-dot:hover:before, .main-slider-owl.owl-carousel .owl-controls .owl-dot.active:before, .widget .search-form>input, .header-top-socials>a span, .owl-carousel .owl-controls .owl-dot.active, .img-read-later-button, .composs-archive-list h3.item-title, #sidebar .widget>h3, .composs-panel-pager a.composs-pager-button.active, .composs-panel-pager a.composs-pager-button:hover, .composs-panel-pager span.page-numbers, .composs-panel>.composs-panel-title:not(.composs-panel-title-tabbed)>strong, .composs-panel>.composs-panel-title>strong.active, .ot-shortcode-accordion>div.active>a:before, .photo-gallery-nav-left:active, .photo-gallery-nav-left:focus, .photo-gallery-nav-left, .photo-gallery-nav-right:active, .photo-gallery-nav-right:focus, .photo-gallery-nav-right {
	background-color: #0C0A45;
}

.contact-form-content label textarea:focus, .contact-form-content label input:focus, .composs-panel>.composs-panel-title {
	border-color: #0C0A45;
}

.comments-big-message, .composs-secondary-title>strong, .composs-panel-pager .page-numbers, .footer-button, .contact-form-content label span, .widget .tagcloud a, .main-slider-owl.owl-carousel .owl-controls .owl-dot:hover:after, .main-slider-owl.owl-carousel .owl-controls .owl-dot.active:after, .item-stars .stars-inner:before, .composs-panel>.composs-panel-title.composs-panel-title-tabbed>strong, a:hover, .ot-w-comments-list .item .item-meta .item-meta-item.meta-button, .ot-shortcode-accordion>div.active>a {
	color: #0C0A45;
}

.owl-carousel .owl-controls .owl-dot {
	box-shadow: inset 0 0 0 2px #0C0A45;
}

.photo-gallery-thumbs-inner .item.active:before {
	box-shadow: inset 0 0 0 3px #615E5D;
}

.widget-ads, .header-ads, .item-stars {
	display: none !important;
}

.composs-author-block {
	clear: left;
	overflow: auto;
	zoom: 1;
}

.composs-article-list.lets-do-6 > .item > .item-header img, .composs-blog-list.lets-do-6 > .item > .item-header img {
	max-width: 105px;
}

.enquete .panel-body {
	padding: 0px;
}

.enquete .panel-body .list-group {
	margin-bottom: 0;
}

.enquete .panel-body .radio, .panel-body .checkbox {
	margin-top: 0px;
	margin-bottom: 0px;
}

.enquete .panel-body .radio label, .panel-body .checkbox label {
	display: block;
}

.enquete .glyphicon {
	margin-right: 5px;
}

.footer-copyright img.logo-agencia-youmark {
	height: 24px;
	max-height: 24px;
	margin: 0 5px;
}

.fc-event:hover{
	cursor: pointer !important;
}
